.header {
    background-color: var(--white);
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}

.logo-accent {
    color: var(--iris);
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean);
}