
.hero {
    background-color: var(--navy-blue);
    padding: 188px 0;
}


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 496px;
    margin: 0 auto;
}


.hero-btn {
    background-color: var(--iris);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 48px auto 0 auto;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}


.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
}